Package: gitweb
Source: git
Version: 1:2.20.1-1
Architecture: all
Maintainer: Gerrit Pape <pape@smarden.org>
Installed-Size: 813
Depends: git (>> 1:2.20.1), git (<< 1:2.20.1-.), perl, libcgi-pm-perl
Recommends: apache2 (>= 2.4.6-4~) | lynx | httpd, libhttp-date-perl | libtime-modules-perl
Suggests: httpd-cgi | libcgi-fast-perl, git-doc
Breaks: apache2.2-common (<< 2.3~)
Section: vcs
Priority: optional
Multi-Arch: foreign
Homepage: https://git-scm.com/
Description: fast, scalable, distributed revision control system (web interface)
 Git is popular version control system designed to handle very large
 projects with speed and efficiency; it is used for many high profile
 open source projects, most notably the Linux kernel.
 .
 Git falls in the category of distributed source code management tools.
 Every Git working directory is a full-fledged repository with full
 revision tracking capabilities, not dependent on network access or a
 central server.
 .
 This package configures a web interface for browsing git repositories.
 .
 If apache2 is installed, the web interface is automatically made
 available at http://localhost/gitweb.  Other servers that support CGI
 or mod_perl are supported through manual configuration.
 .
 If libcgi-fast-perl is installed, gitweb can also be run over FastCGI
 (and served by nginx, for example).
