Package: git-daemon-run
Source: git
Version: 1:2.20.1-1
Architecture: all
Maintainer: Gerrit Pape <pape@smarden.org>
Installed-Size: 803
Depends: git (>> 1:2.20.1), git (<< 1:2.20.1-.), runit, adduser
Conflicts: git-daemon-sysvinit
Section: vcs
Priority: optional
Multi-Arch: foreign
Homepage: https://git-scm.com/
Description: fast, scalable, distributed revision control system (git-daemon service)
 Git is popular version control system designed to handle very large
 projects with speed and efficiency; it is used for many high profile
 open source projects, most notably the Linux kernel.
 .
 Git falls in the category of distributed source code management tools.
 Every Git working directory is a full-fledged repository with full
 revision tracking capabilities, not dependent on network access or a
 central server.
 .
 git-daemon, as provided by the git package, is a simple server for git
 repositories, ideally suited for read-only updates, i.e. pulling from git
 repositories through the network.  This package provides a runit service
 for running git-daemon permanently.  This configuration is simpler and
 more reliable than git-daemon-sysvinit, at a cost of being less
 familiar for administrators accustomed to sysvinit.
