Package: git-doc
Source: git
Version: 1:2.20.1-1
Architecture: all
Maintainer: Gerrit Pape <pape@smarden.org>
Installed-Size: 11118
Suggests: git, git-cvs, git-svn, git-email, gitk, gitweb
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://git-scm.com/
Description: fast, scalable, distributed revision control system (documentation)
 Git is popular version control system designed to handle very large
 projects with speed and efficiency; it is used for many high profile
 open source projects, most notably the Linux kernel.
 .
 Git falls in the category of distributed source code management tools.
 Every Git working directory is a full-fledged repository with full
 revision tracking capabilities, not dependent on network access or a
 central server.
 .
 This package provides the documentation.
